.agent-turn {
    border: 2px solid rgba(0, 255, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    /* margin-bottom: 10px; */
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#scrollPercentageCircle {
    position: fixed;
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0e5001;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.shortcutButton {
    position: absolute;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s, background-color 0.2s ease;  /* Smooth transition for scaling and color */
}

.shortcutButton:hover {
    background-color: #666;
}
