.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-bottom: 7px solid var(--text-secondary);
    margin-right: 8px;
    transition: transform 0.2s ease; /* Animation for rotation */
}

.folder-header {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.folder-list {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    display: none; /* Initially hidden */
}
